<html>
  <head>
    <meta charset="utf-8">
    <title>Scott's Profile</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css">
  </head>

  <body>

    <div id="wrapper">
      <div id="left-container">
        <div class="card text-center">
          <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/g8wfzqrchdxrlbvhowj1.jpg" alt="Scott Matheson"  id="img-profile" class="img-circle">
          <h1>Scott Matheson</h1>
          <h2>Junior Web Developer</h2>
          <p>
          I am excited to utilize my diverse skills, creativity, and work ethic with your company or project as I continue to gain knowledge and experience as a developer.
          </p>
        </div>
        <div class="card text-center">
          <ul class="list-inline">
            <li class="text-center">
              <a href="https://www.facebook.com/profile.php?id=532150111">
                <i class="fa fa-facebook"></i> <br>Facebook
              </a>
            </li>
            <li class="text-center">
              <a href="https://www.linkedin.com/in/scott-matheson-87059b149/">
                <i class="fa fa-linkedin"></i> <br>Linkedin
              </a>
            </li>
            <li class="text-center">
              <a href="https://github.com/Smath33">
                <i class="fa fa-github"></i> <br>Github
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div id="right-container">
        <div class="card">
          <h2>My recent projects</h2>
          <table id="movies">
            <tbody>
              <tr>
                <td>
                 <a href="http://www.commons.fun/"><img src="http://res.cloudinary.com/wagon/image/upload/v1502092303/b7cja7msbatkk13c4sn9.jpg" alt="Cocktail" height="50" width="45">
                </td>
                <td>
                  <h3>Commons</h3>
                  <p>As a musician and a new resident to Montreal, I noticed a need for creative space rentals. I have used services such as Airbnb but I couldn’t find a web application that was targeted towards the needs of users such as myself and my friends. This is how I came up with the idea of Commons: a web application that has the ability to serve not only artists seeking creative spaces but people looking to host events in otherwise inaccessible spaces. Commons was developed in just ten days as part of the Le Wagon Montreal Fullstack Challenge final project. While leading a team of two developers, I gained invaluable experience in a leadership role and in meeting tight deadlines. Overall, both myself and my teammates are incredibly satisfied with Commons and are excited to continuously improve the product.</p>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clear">
      </div>
      <div class="card" id="footer">
        <h2>More about me</h2>
        I am a Junior Web Developer with experience in back-end development including APIs and front-end development including HTML, Javascript, and CSS. I have also completed many web applications with Ruby on Rails. I am extremely hardworking, friendly, and am able to produce high quality work both independently and as part of a team.



      </div>
    </div>
  </body>
</html>



